input[disabled='disabled'],
input.class-for-disabled-field {
  border: 1px solid #C0C0C0;
  background-color: #FFF8C6;
}

*:focus {
  outline: none;
}


/*azulito claro cajas*/

.fondo-no-sel {
  background: #e1eff9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e1eff9 0%, #d9e1e7 0%, #f2f6f8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1eff9), color-stop(0%, #d9e1e7), color-stop(100%, #f2f6f8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e1eff9 0%, #d9e1e7 0%, #f2f6f8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e1eff9 0%, #d9e1e7 0%, #f2f6f8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e1eff9 0%, #d9e1e7 0%, #f2f6f8 100%);
  /* IE10+ */
  background: linear-gradient(to top, #e1eff9 0%, #d9e1e7 0%, #f2f6f8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1eff9', endColorstr='#f2f6f8', GradientType=0);
  /* IE6-9 */
}


/*azul tab seleccionada*/

.fondo-sel {
  background: #e1eff9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e1eff9 0%, #d9e1e7 33%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1eff9), color-stop(33%, #d9e1e7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e1eff9 0%, #d9e1e7 33%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e1eff9 0%, #d9e1e7 33%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e1eff9 0%, #d9e1e7 33%);
  /* IE10+ */
  background: linear-gradient(to top, #e1eff9 0%, #d9e1e7 33%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1eff9', endColorstr='#d9e1e7', GradientType=0);
  /* IE6-9 */
}

.ocultar {
  display: none;
}

.no-ocultar {
  display: block;
}

.visible {
  visibility: visible;
}

.no_visible {
  visibility: hidden;
}

.scale-down {
  height: 103px;
}

div.separador-5 {
  height: 5px;
}

body.cuerpo {
  background: #D0D7DE;
}

.flota-izq {
  float: left;
}

.flota-der {
  float: right;
}

.txt-justificado {
  text-align: justify;
}

.letras5 {
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 12px;
  color: #93822F;
}

.letras1 {
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 12px;
  color: rgb(25, 136, 180);
  font-weight: 400;
}

.letras2 {
  font-family: Tahoma, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
}

.letras4 {
  font: 100% ff-meta-serif-web-pro-1, ff-meta-serif-web-pro-2, Georgia, Times New Roman, sans-serif;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: rgb(103, 100, 99);
  text-align: center;
  line-height: 14px;
}

.letras3 {
  font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(92, 99, 102);
}

.header {
  width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
}

.mifondo {
  background-image: url('images/logoyanagrama-copia.png');
  background-repeat: no-repeat;
  padding: 2px 2px 2px 0.5em;
  width: 1009px;
  height: 94px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  margin-left: 2px;
}

.contenedor_margen {
  width: 1020px;
  margin-left: auto;
  padding: 4px;
  margin-right: auto;
  background: white;
  border-radius: 8px;
  -moz-border-radius: 8px;
}

.contenedor {
  padding: 0px;
  width: auto;
}

.footer {
  margin-top: 20px;
  width: 100%;
  height: 95px;
  clear: both;
  background: #D0D7DE;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

div.col-izq {
  padding: 4px 0px 0px 2px;
  float: left;
}

.a335 {
  width: 335px;
}

.a458 {
  width: 458px;
}

.a633 {
  width: 633px;
}

.a750 {
  width: 806px;
}

.content {
  overflow: hidden;
  width: 806px;
  margin-top: -11px;
}

div.col-der {
  margin-top: 0px;
  padding: 2px;
  float: right;
  width: 160px;
  border: 1px solid #B1C1BA;
  height: 600px;
  background-color: yellow;
}

.inputArea-estrecha {
  padding: 6px;
  width: 190px;
  color: #2B5684;
}

.envolvente-ctl {
  width: 630px;
  height: auto;
  border: 1px solid #B1C1BA;
  border-top: none;
  float: left;
}

.inputArea-ancha {
  position: relative;
  float: left;
  height: auto;
  width: 630px;
  overflow: hidden;
}

.borde-top {
  border-top: 1px solid #B1C1BA;
}

.alto-400 {
  height: 400px;
}

.subarea-estrecha {
  float: left;
  padding: 6px;
  width: 80px;
  height: 100%;
}

div.subarea-ancha {
  border-left: 2px solid white;
  float: left;
  height: auto;
  color: #676463;
  font-size: 1.0em;
  width: 522px;
}

div.subarea-ancha-plus {
  position: relative;
  border-left: 2px solid magenta;
  float: left;
  height: auto;
  color: #676463;
  font-size: 1.0em;
  width: 537px;
}

.sub-sub-area {
  width: 525px;
  height: auto;
}

.padd-0 {
  padding: 0px;
}

.padd-6 {
  padding: 6px;
}

div.subarea-ayuda {
  width: 604px;
  margin-left: 0px;
  padding: 15px 7px 15px 20px;
  background-image: url('images/fondoayuda.png');
  background-repeat: repeat-y;
  font: 12px/1.4 Verdana, Helvetica, sans-serif;
  overflow: auto;
  height: 300px;
}

div.borde-mipiscina {
  border: 1px solid #B1C1BA;
  width: 202px;
  height: auto;
  margin-top: 1px;
}

a:visited {
  display: block;
  font-size: 1em;
  background: #F4F4F4;
  width: 455px;
  height: 1.8em;
  line-height: 1.8em;
  text-align: left;
  padding: 4px;
  text-decoration: none;
  border: 0.1em solid #dcdce9;
  color: #1c1f20;
}

a:active {
  color: #5c6366;
  text-decoration: underline;
}

img {
  float: left;
  margin: 5px 10px 0px 0px;
  border: none;
}

p.pea {
  line-height: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p.pea1 {
  line-height: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p.pm5 {
  line-height: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p.peb {
  line-height: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p.pbs {
  line-height: 16px;
  color: #996633;
  font-size: 13px;
  text-align: justify;
}

p.pbs1 {
  line-height: 16px;
  text-align: justify;
}

p.pbm {
  line-height: 17px;
  text-align: justify;
  color: rgb(51, 51, 0);
  font-size: 13px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.gs {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.color1 {
  color: #5858FA;
}

.color2 {
  color: #DF7401;
}

.color3 {
  color: rgb(102, 102, 102);
}

.colorRojo {
  color: red;
}

.oliva {
  color: #93822F;
}

h2 {
  margin: 0 0 0 0;
  line-height: 1em;
  color: rgb(130, 130, 130);
}

h5 {
  margin: 0px;
  width: 100px;
  line-height: 25px;
  height: 25px;
  border-top: 1px solid #B1C1BA;
}

h4 {
  color: rgb(0, 102, 153);
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0px;
  font-weight: normal;
  width: 535px;
  line-height: 25px;
  height: 25px;
  border-top: 1px solid #B1C1BA;
}

h3 {
  margin: 0px;
  color: rgb(130, 130, 130);
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  border-top: 1px solid #B1C1BA;
  border-bottom: 1px solid white;
  height: 28px;
  line-height: 28px;
  width: 100%;
  z-index: 1;
}

.franja-ayuda {
  margin: 0px;
  font-size: 12px;
  line-height: 2em;
  color: rgb(0, 73, 134);
  border: 0.1em solid #dcdce9;
  padding-left: 0.5em;
  padding-right: 1em;
}

.interrog {
  margin-top: 6px;
  margin-right: 6px;
  width: 15px;
  height: 15px;
  border: 1px solid red;
  background-image: url("images/interrogacion.jpg");
  background-repeat: no-repeat;
  float: right;
  background-size: 100% 100%;
  border-radius: 8px;
  -moz-border-radius: 8px;
}

.posIntrrogA {
  margin-top: 6px;
  margin-right: 6px;
}

.posIntrrogB {
  margin-top: 0px;
  margin-right: 0px;
}

.fondo1 {
  background: #C4EFFC;
}

.fondo2 {
  background: #F3F781;
}

.fondo3 {
  background: #DCDCDC;
}

.ayuda {
  float: right;
  font-size: 12px;
}

.ayuda a:link,
a:visited {
  color: #FF0000;
  text-decoration: none;
}

.ayuda a:hover,
a:active {
  text-decoration: none;
}

.ayuda a:link {
  text-decoration: none;
  color: blue;
}

.ayuda a:visited {
  text-decoration: none;
  color: blue;
}

.ayuda a:active {
  text-decoration: none;
}

.ayuda a:hover {
  text-decoration: underline;
  color: red;
}

.all-round {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#span_0 {
  text-transform: uppercase;
  font: bold 13px Arial, Sans-Serif;
  background-color: #a7bbbe;
}

.span_1 {
  text-transform: uppercase;
  font: bold 10px Arial, Sans-Serif;
  overflow: hidden;
}

.span_2 {
  font: 10px Arial, Sans-Serif;
}

.h3bis {
  border-bottom: 3px solid #a7bbbe;
  padding-bottom: 6px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .15em;
  margin-top: 22px;
}

.input_ctl {
  font-family: Arial, Sans-Serif;
  font-size: 13px;
  padding-right: 5px;
  text-align: right;
  color: #676463;
}


/*aislado*/

.ctlA {
  margin-top: 5px;
  margin-bottom: 10px;
}


/*aislado alineado label*/

.ctlAb {
  margin-top: 10px;
  margin-bottom: 10px;
}


/*sobre slider*/

.ctlB {
  margin-top: 5px;
  margin-bottom: 3px;
}


/*margen cl*/

.ctlBLf {
  margin-top: 5px;
  margin-bottom: 3px;
  text-align: left;
}

.ctlD {
  margin-top: 0px;
  margin-bottom: 8px;
}

.ctlE {
  margin-top: 3px;
  margin-bottom: 3px;
}

.ctr-sel {
  font-size: 15px;
  padding-right: 0px;
}

.ctl-gig {
  width: 3em;
  line-height: 1em;
  color: #f6931f;
  font-weight: bold;
  font-size: 1.5em;
  padding: 2px 4px 2px 4px;
}

.ng {
  font-weight: bold;
}

.an0 {
  width: 0px;
}

.an35 {
  width: 35px;
}

.an40 {
  width: 40px;
}

.an45 {
  width: 45px;
}

.an50 {
  width: 50px;
}

.an65 {
  width: 65px;
}

.an55 {
  width: 55px;
}

.an75 {
  width: 75px;
}

.an100 {
  width: 100px;
}

.an165 {
  width: 165px;
}

.an207 {
  width: 207px;
}

.an325 {
  width: 325px;
}

.an347 {
  width: 347px;
}

.an400 {
  width: 400px;
}

.at20 {
  height: 20px;
}

.mrg-izq-90 {
  margin-left: 90px;
}

.mrg-izq-120 {
  margin-left: 120px;
}


/*fichas*/

ol.toc {
  height: 25px;
  width: 640px;
  list-style: none;
  margin-top: 0px;
  padding: 0px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

ol.toc li {
  margin: 0 2px 0 0;
}

ol.toc li a {
  line-height: 25px;
  height: 25px;
  float: left;
  color: orange;
  padding-left: 1em;
  margin: 0 2px 0 0;
  text-decoration: none;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;

  border: 1px solid #B1C1BA;
  background: #e1eff9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e1eff9 0%, #d9e1e7 33%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1eff9), color-stop(33%, #d9e1e7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e1eff9 0%, #d9e1e7 33%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e1eff9 0%, #d9e1e7 33%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e1eff9 0%, #d9e1e7 33%);
  /* IE10+ */
  background: linear-gradient(to top, #e1eff9 0%, #d9e1e7 33%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1eff9', endColorstr='#d9e1e7', GradientType=0);
  /* IE6-9 */
  position: relative;
  top: 1px;
}

ol.toc li a:hover {
  color: #5c6366;
  background: #E8E8E8 !important;
}

ol.toc a:link.active,
ol.toc a:visited.active {
  border: 1px solid #B1C1BA;
  border-bottom-color: #F5F5F5;
  background: #e1eff9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e1eff9 0%, #d9e1e7 0%, #f2f6f8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1eff9), color-stop(0%, #d9e1e7), color-stop(100%, #f2f6f8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e1eff9 0%, #d9e1e7 0%, #f2f6f8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e1eff9 0%, #d9e1e7 0%, #f2f6f8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e1eff9 0%, #d9e1e7 0%, #f2f6f8 100%);
  /* IE10+ */
  background: linear-gradient(to top, #e1eff9 0%, #d9e1e7 0%, #f2f6f8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1eff9', endColorstr='#f2f6f8', GradientType=0);
  /* IE6-9 */
  z-index: 2;
  color: #5c6366;
  position: relative;
}

.semi-barrita {
  border: 1px solid #B1C1BA;
  margin-left: 97px;
  margin-top: 1px;
  color: #000099;
  text-decoration: none;
  line-height: 23px;
  padding: 1px 0px 1px 1em;
  width: 45%;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
}

.ui-caja {
  border: 1px solid #a1a1a1;
  background: url("images/escalaLG.png") no-repeat;
  padding: 0 0 0 8px;
  width: 180px;
  height: 38px;
  border-radius: 8px;
  margin-left: 0px;
}

.img-escala {
  border: 1px solid #a1a1a1;
  width: 298px;
  height: 45px;
  border-radius: 8px;
  padding: 0 0 0 8px;
}

.alarmaLSI {
  width: 100%;
  height: 2em;
}

.fdo-escPH {
  background-image: url("images/escalaPH.png");
}

.fdo-escAT {
  background-image: url("images/escalaAT.png");
}

.fdo-escDC {
  background-image: url("images/escalaDC.png");
}

.fdo-escCL {
  background-image: url("images/escalaCL.png");
}

.fdo-escCL50 {
  background-image: url("images/escalaCL50.png");
}

.fdo-escBR7 {
  background-image: url("images/escalaBR7.png");
}

.fdo-escBR70 {
  background-image: url("images/escalaBR70.png");
}

.fdo-escCF {
  background-image: url("images/escalaCF.png");
}

.fdo-escVF {
  background-image: url("images/escalaVF.png");
}

.fdo-escVFB {
  background-image: url("images/escalaVFB.png");
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 15px;
  height: 25px;
  cursor: default;
}

.ui-slider-horizontal {
  height: 38pX;
}

.ui-slider-horizontal .ui-slider-handle {
  top: 14px;
  margin-left: -.4em;
}

.ui-widget-content {
  border: none;
  background: transparent;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  border: none;
  background: url("images/jq-handle-reposo.png") no-repeat;
}

.ui-state-focus,
.ui-widget-content .ui-state-focus {
  border: none;
  background: url("images/jq-handle-visited.png") no-repeat;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  border: none;
  background: #ffffff url(images/jq-handle-click.png) no-repeat;
}


/*See how much Dichlor it takes from The Pool Calculator and then double that amount in volume (not weight) for MPS.
This assumes 43% MPS which is pretty typical. So to raise the bromine by 10 ppm, put in an FC of 10/2.25 = 4.4 for the difference between "Now" and
"Target" and set chlorine type to "dichlor" and double the volume it gives you and that's the amount of MPS to use.*/
