﻿<p class="pbs">
  <b>1.</b> No olvidar cumplimentar el campo
  <b class="oliva">'Volumen agua'</b> en
  <b class="oliva">'Mi
    Piscina'</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>2.</b> Introduce el valor medido o conocido del pH en el campo desplegable
  <b class="oliva">'pH
    actual'</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>3.</b> Si usas
  <i>salfuman</i> como minorador de pH, introduce su graduación. Lee en BAJAR EL pH como
  hacerlo
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>4.</b> Introduce el valor del pH que quieres conseguir en campo desplegable
  <b class="oliva">'pH
    deseado'</b>.

<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>5.</b> O mueve el cursor del
  <i>selector deslizante</i> hasta el valor de CL deseado.

<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>6.</b> Justo debajo se muestran los productos y cantidades necesarias para conseguir el nuevo pH
</p>
<p>&nbsp;</p>
<h4>BAJAR EL pH</h4>
<p class="pea">&nbsp;</p>
<p class="pbm">Si has introducido un valor de pH deseado inferior al pH actual, o sea
  <b>
    <small>bajar pH</small>
  </b>,
  debajo te marcará
  la cantidad de
  <i>salfuman o aguafuerte</i> que tienes que añadir. El sulfuman es
  <i>ácido clorhídrico diluido</i>,
  su concentración
  se expresa en %, hemos seleccionado el de 20% porque es el más corriente en el mercado, pero tienes que introducir
  el que vas a utilizar tú, lo encontrarás en la etiqueta del envase.
  Algunas veces en la etiqueta del envase te lo pone en grados Baumé (
  <i>ºBaumé o ºBe</i>, cada ºBe equivale a 1,54%).
  Por ello mas arriba,
  en
  <b>'Concentración salfuman'</b> tienes las opción de elegir entre
  <b>'%'</b> y
  <b>'ºBe'</b> como unidad.
  Elige la que te viene en la etiqueta del envase.

<p>&nbsp;</p>
<p class="pbm">Si prefieres utilizar
  <i>minorador sólido</i> para bajar el pH, está indicado en el campo
  <i>'Bisulfato
    sódico'</i>, que es el más corriente
  en el mercado
</p>
<p>&nbsp;</p>
<h4>SUBIR EL pH</h4>
<p class="pea">&nbsp;</p>
<p class="pbm">Si has introducido un valor de pH deseado mayor que el pH actual, o sea
  <b>
    <small>subir pH</small>
  </b>,
  debajo te mostrará
  la cantidad de
  <i>incrementador de pH</i> que tienes que añadir. Hemos seleccionado
  <i>'carbonato sódico'</i> por
  ser lo más común para este uso por .
</p>
<p>&nbsp;</p>
<p>NOTA IMPORTANTE</p>
<p>&nbsp;</p>
<p class="pbm">Las cantidades de minorador o incrementador calculadas son puramente indicativas, pueden variar
  considerablemente en base a otros factores que afectan al pH,
  tales como la alcalinidad, ácido cinúrico, dureza cálcica, etc que influyen de forma sustancial. Estas diferencias
  son aun mayores según las diferencias entre pH (pH actual y pH deseado) van haciéndose mayores y
  y también según nos alejamos de valores próximos a 7 (por arriba y por abajo). Por ello,
  <i>sirven solo como punto
    de partida</i>, en la práctica, se debe añadir el
  minorador o incrementador poco a poco, y medir el pH cada vez, hasta que alcancemos el valor deseado. Para más
  detalle, pincha en este enlace (próximamente)
</p>
<p>&nbsp;</p>