﻿<p class="pbm txt-justificado">
  <i>Ciclo de filtración</i> (CF) es el tiempo de funcionamieto (en horas) de su motobomba
  para recircular por la depuradora el volumen de agua de su piscina. Mientras mas potente la motobomba mayor
  caudal recircula y por tanto, menos tiempo necesita, o sea, CF menor, pero mas cara la depuradora
  (motobomba y filtro). Se trata de encontrar una solución equilibrada, y para ello, el margen recomendado del CF
  es entre 2,5 y 6 hrs
</p>
<p>&nbsp;</p>
<p class="pbm">Para calcular el caudal de la bomba correspondiente a un CF deseado:</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>1.</b> No olvidar cumplimentar el campo
  <i>'Volumen agua'</i> en el area
  <i>Mi Piscina</i>
</p>
<p class="pbs">
  <b>2.</b> Introduce el valor deseado de CF en el campo
  <i>'Ciclo filtración'</i>
</p>
<p class="pbs">
  <b>3.</b> O mueve el cursor del
  <i>selector deslizante</i> situado debajo hasta el valor de CF
</p>
<p class="pbs">&nbsp;&nbsp;&nbsp;deseado.</p>
<p class="pbs">
  <b>4.</b> Pulsa
  <i>Intro</i> al terminar de introducir valores (no necesario con el
  <i>selector</i>
<p class="pbs">&nbsp;&nbsp;&nbsp;
  <i>deslizante</i>).
</p>
<p class="pea">&nbsp;</p>
<p class="pbm"> En el campo
  <i>'Caudal bomba'</i> aparecerá el caudal de la bomba necesaria
  para conseguir el CF deseado
</p>
<p>&nbsp;</p>
<p class="pbm">NOTA: Puede también introducir directamente el caudal de bomba deseado en
  el campo
  <i>'Caudal bomba'</i> y en el campo
  <i>'Ciclo filtración'</i> leeremos que CF
  obtendremos con ese caudal
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>