﻿<p class="pbs">
  <b>1. </b> No olvidar cumplimentar el campo
  <b>Volumen agua</b> en el área
  <b>Mi Piscina.</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>2. </b> Mide nivel de
  <i>bromo</i> e introduce su valor en el campo
  <b>BR actual</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>3. </b> Si usas
  <i>cloro líquido (lejía)</i> como activador del banco de bromo, introduce
</p>
<p class="pbs">&nbsp;&nbsp;&nbsp;su graduación (ver
  <a href="#" class="oliva">aquí</a> como hacerlo)
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>4. </b> Introduce el valor de bromo que quieres conseguir en campo
  <b>BR deseado</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>5. </b> O mueve el cursor del
  <b>selector deslizante</b> situado debajo hasta el valor de bromo
  </b></p><p class="pbs">&nbsp;&nbsp;&nbsp;deseado.</p><p class="pea">&nbsp;</p><p
  class="pbs">
  <b>6. </b> Pulsa
  <b>Intro</b> al terminar de introducir valores (no necesario con el
  <i>selector</i>
<p class="pbs">&nbsp;&nbsp;&nbsp;
  <i>deslizante</i>).
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>7. </b> Debajo se muestran productos y cantidades necesarias para subir o bajar el nivel de
</p>
<p class="pbs">&nbsp;&nbsp;&nbsp;bromo al valor deseado</p></p><p class="pea1">&nbsp;</p><p
  class="pbs">
  <b>NOTA:</b> Una piscina cubierta bromada tratada solo con sal de bromo y oxidante puede reconvertirse a
  piscina clorada,
  eliminando el banco de bromuro. Pero si es tratada con tabletas, ya sea cubierta o exterior, es necesario remplazar
  el agua para reconvertirla

<p class="pea1">&nbsp;</p>
<h4>AUMENTAR EL NIVEL DE BROMO</h4>
<p class="pea">&nbsp;</p>
<p class="pbm">Hay dos modalidades para aportar el bromo necesario a una piscina o spa saneados con bromo: una modalidad
  (bromo en 1 pasos) consiste en
  aportación directa de bromo activo (ácido hipocloroso), como ingrediente que es de las tabletas de bromo. En la otra
  modalidad (bromo en 2 etapas) se fabrica el bromo activo en la propia piscina,
  utilizando como materia prima un compuesto oxidante que agregamos al vaso, por ejemplo
  <i>cloro activo y/o MPS</i>
  (monopersufato de potasio) y/o
  <i>ozono</i>. Previamente deberemos haber creado una
  reserva suficientemente alta de iones de bromuro (banco de bromo) de modo el agente oxidante convierta a los iones
  de bromuro en bromo activo

<p>&nbsp;</p>
<p class="pbm">Este segunda modalidad exige que en la piscina previamente exista una concentración de bromuro (banco de
  iones de bromo,
  banco de bromuro o simplemente
  <b>banco de bromo</b>) igual o superior a 15 ppm. Este banco de bromo se puede crear
  de forma instantánea, añadiendo al vaso una dosis suficiente de
  <i>sal de bromo</i> (bromuro sódico).
  Pero también se crea por si solo en unas semanas después de tratar la piscina conforme a primera modalidad (adición
  directa de bromo activo).
</p>
<p>&nbsp;</p>
<p class="pea">&nbsp;</p>
<p>
  <b>*&nbsp;&nbsp;Bromo en 1 etapa</b> (aportación bromo directo)
</p>
<p>&nbsp;</p>
<p class="pea">&nbsp;</p>
<p class="pbm">
  En esta primera y única etapa, el bromo se aporta por erosión de tabletas de bromo-cloro o dibromo colocadas en un
  dosificador o en el skimmer. El CALCULADOR muestra la cantidad en gramos de ambos compuestos para elevar el nivel de
  bromo del valor medido al deseado.
  Pero atención, las tabletas de ambos tipos son de disolución muy lenta, dependiendo de número de tabletas en el
  dosificador la aportación calculada puede
  tardar días o semanas, consumiéndose por tanto en ese periodo bromo en su labor biocida oxidante. En la práctica,
  hay que medir con frecuencia el nivel de bromo
  y ajustar en número de tabletas y el tiempo de paso del agua por el dosificador para que el nivel de bromo se
  mantenga siempre entre 2 y 4 ppm.</p>
<p>&nbsp;</p>
<p class="pbm">Lo más cómodo y eficaz es una sonda que mide el ORP (REDOX) del agua y un controlador tarado a 700-750
  mV.
  La salida del controlador actúa sobre un elemento final de control (válvula motorizada o solenoide 3 vias ) que
  regula automáticamente el paso de agua por dosificador
  para aportar el bromo necesario para mantener el ORP próximo o igual al valor tarado.</p>
<p>&nbsp;</p>
<p class="pbm">EL bromo-cloro (BCDMH) es un compuesto de bromo y cloro. Cuando se inicia el tratamiento de agua
  con este producto, al principio cloro y bromo activos coexisten en el agua sumando sus capacidades desinfectantes.
  Antes o después
  se crea el banco de bromo y a partir de entonces, todo el cloro es reducido a bromo, quedando el bromo como
  desinfectante único.</p>
<p>&nbsp;</p>
<p class="pbm">Una vez iniciado el tratamiento, ya sea con bromo-cloro o con dibromo, se creará somo subproducto una
  concetración
  de iones bromuro equivalente a la que hubiéramos creado mediante la adición directa de sal de bromo. Quiere esto
  decir que ya, en
  cualquier momento podemos cambiar a un tratamiento de bromo del tipo de 2 etapas. Basta retirar o reducir el número
  de tabletas de
  bromo en el brominador o skimmer y empezar a dosificar oxidante (cloro, MPS y ozono). Por supuesto, es perfectamente
  posible continuar con un sistema mixto
  compartiendo la carga desinfectante entre bromo directo aportado por tabletas y bromo generado mediante adición de
  cloro, MPS u ozono

<p>&nbsp;</p>
<p class="pea">&nbsp;</p>
<p>
  <b>*&nbsp;&nbsp;Bromo en 2 etapas</b> (fabricación de bromo en la piscina)
</p>
<p>&nbsp;</p>
<p class="pea">&nbsp;</p>
<p class="pbm">En la primera etapa se añade al agua una cantidad de sal de bromo (bromuro sódico) suficiente para crear
  una reserva inicial
  de iones bromuro de no menos de 30 ppm (banco de bromo). Hay que añadir 1,25 gr de sal de bromo por cada m&sup3; de
  agua para aumentar 1 ppm de bromuro.
  Por ejemplo, en una piscina de 50 m&sup3; tenemos que añadir 1,25*30*50 = 2 kg de sal de bromo para crear el banco
  de bromo</p>
<p>&nbsp;</p>
<p class="pbm">En la segunda etapa se aporta diriamente oxidante para generar el bromo activo suficiente para mantener
  su nivel
  entre 2 y 4 ppm (3 y 6 ppm en caso de spas). En este caso, todo el bromo generado esta ya distribuido por el agua y
  la subida de bromo
  activo es inmediata.</p>
<p>&nbsp;</p>
<p class="pbm">El CALCULADOR muestra la cantidad de gramos para aumentar el nivel de bromo con tres productos oxidantes:
</p>
<p class="pea">&nbsp;</p>
<p>&nbsp;</p>
<p class="pbm">
  <b>* </b>
  <i>Cloro líquido (lejía, hipoclorito sódico)</i>
</p>
<p class="pea">&nbsp;</p>
<p class="pbm">
  <b>* </b>
  <i>Cloro solido no estabilizado (hipoclorito cálcico)</i>
</p>
<p class="pea">&nbsp;</p>
<p class="pbm">
  <b>* </b>
  <i>MPS (monopersulfato de potasio), un tipo de oxígeno activo</i>
</p>
<p>&nbsp;</p>
<p class="pea">&nbsp;</p>
<p class="pbm">El cloro líquido es especialmente adecuado para ser agregado a la piscina de forma automática gracias a
  su formato líquido. Basta una sencilla bomba
  dosificadora controlada mediante una soda/controlador de ORP. Los otros dos tipos son mas difícil de ser dosificados
  automáticamente a causa de su formato
  tabletas o granulados de disolución rápida. Si se utiliza hipoclorito cálcico como oxidante, han de tomarse las
  mismas precauciones frente a la elevación de la dureza
  cálcica en la piscina, véase la ayuda de ajuste de cloro</p>
<p>&nbsp;</p>
<p class="pea1">&nbsp;</p>
<h4>REBAJAR EL NIVEL DE BROMO</h4>
<p class="pea">&nbsp;</p>
<p class="pbm">Si no tiene demasiada prisa, la mejor forma de rebajar el contenido de bromo es esperar unos días sin
  añadir
  bromo o activador de bromuro. La radiación solar y el propio consumo en oxidación/desinfección se encargarán de
  rebajarlo sin añadir más productos químicos.
</p>
<p>&nbsp;</p>
<p class="pbm">El CALCULADOR muestra la cantidad de
  <b>tiosulfato sódico</b> que ha de aportarse al vaso para rebajat el
  nivel de bromo existente
  al nivel deseado. El tiosulfato de sodico reduce el bromo activo, pero no afecta en absoluto al brumuro (banco de
  bromo). La piscina o spa sigue siendo
  bromada aunque reduzca a 0 el nivel de bromo
</p>
<p class="pea1">&nbsp;</p>
