﻿<p class="pbs">
  <b>1.</b> No olvidar cumplimentar el campo
  <b class="color-Oliva">'Volumen agua'</b> en
  <b class="color-Oliva">'Mi Piscina'</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>2.</b> Introduce el valor medido o conocido de la DC en el campo
  <b class="color-Oliva">'DC
    actual'</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>3.</b> Introduce el valor de la DC que quieres conseguir en campo
  <b class="color-Oliva">'DC
    deseada'</b>.
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>4.</b> O mueve el cursor del
  <i>selector deslizante</i> hasta el valor de DC deseada.

<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>5.</b> Justo debajo se muestra cuanto
  <i>cloruro cálcico</i> hay que agregar (caso subir la DC) o
  cuánta agua hay
  que remplazar (caso bajar la DC) para conseguir el nuevo nivel de DC:
</p>
<p>&nbsp;</p>
<p>OBSERVACIONES</p>
<p>&nbsp;</p>
<p class="pbm">Si has introducido un valor de DC deseado superior al DC actual, o sea, deseas
  <b>subir la DC</b>, debajo
  te marcará
  la cantidad de
  <i>cloruro cálcico</i>, en sus dos modalidades, que tienes que añadir
</p>
<p class="pea">&nbsp;</p>
<p class="pbm">El cloruro cálcico normal en el mercado es la variedad "anhidro", con masa molecular de 111 g/mol.
  También se comercializa otras varias modalidades
  hidratadas, la más común es la "dihidratada", con masa molecular de 147 gr/mol. Verifique la etiqueta del envase,
  pues como indica el calculador, gastara un 32% más de
  "dihidro" que de "anhidro" para el mismo incremento de dureza cálcica.</p>
<p class="pea">&nbsp;</p>
<p class="pbm">Pero si has introducido un valor de
  <i>DC deseada</i> menor que el de
  <i>DC actual</i>, o sea, deseas

  <b>bajar la DC
    </small>
  </b>,
  observa que el CALCULADOR solo contempla la reducción de la DC mediante vaciado total o parcial del vaso y relleno
  con
  <b>agua nueva de menor dureza</b>. Introduce
  la DC del agua que tienes para rellenar en el campo 'agua nueva de dureza'.
</p>
<p class="pea">&nbsp;</p>
<p class="pbm">Entonces, cuando trate de bajar la DC, verá que en el campo
  <i>Remplazar'</i> se muestra la cantidad de
  agua que tiene que
  remplazar para conseguir la nueva DC reducida. Hay otras maneras de reducir la DC
  </small></b>. Pincha aquí para
  saber cómo hacerlo (próximamente).
</p>
<p>&nbsp;</p>
