<p class="pbs">1. Si utiliza dicloro, tricloro u otro tipo de cloro y añade estabilizador para protegerlo contra la
  degradación solar, mída el
  <i>acido cianurico</i> (ACN) e introduzca
  su valor en el campo
  <b class="oliva">Acido cianúrico</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">2. Si no es asi introduzca
  <b>'0'</b> en ese campo.
</p>
<p>&nbsp;</p>
<p class="pbm">El acido cianurico (ACN) es un componente que contribuye a la
  <i>Alcalinidad total (AT)</i>, pero no al

  <i>IS de Langelier (ISL)</i>
</p>
<p>&nbsp;</p>
<p class="pbm">Si tiene un valor distinto de '0', la calculadora lo descuenta de la AT para determinar la
  <i>Alcalinidad
    Carbonatada (AC)</i> que es la que afecta al ISL.
  En cualquier momento puede Ud. consultar el valor de la AC
  </i>, simplemente pulsando pulsando

  <b class="oliva">Mostrar Alc. Carbonatada</b> en el panel de AT

<p>&nbsp;</p>