﻿<p class="pbs">
  <b>1. </b> No olvidar cumplimentar el campo
  <b>'Volumen agua'</b> en el área
  <b>'Mi Piscina'.</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>2. </b> Mide el
  <i>cloro libre (CL</i>) e introduce su valor en el campo desplegable
  <b>'CL
    actual'</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>3. </b> Si usas
  <i>cloro líquido (lejía)</i>, introduce su graduación (ver como abajo)
  </b></p><p class="pea">&nbsp;</p><p class="pbs">
  <b>4. </b> Introduce el valor de CL que quieres conseguir en campo
  <b>'CL deseado'</b></p><p class="pea">&nbsp;</p><p class="pbs">
  <b>5. </b> O mueve el cursor del
  <b>selector deslizante</b> hasta el nuevo valor de CL.</b></p><p class="pea">&nbsp;</p>
<p class="pbs"><b>6. </b> Pulsa <b>'Intro'</b> al terminar de introducir valores (no con el
  selector deslizante).</b></p><p class="pea">&nbsp;</p><p class="pbs">
  <b>7. </b> Debajo aparecen productos y cantidades necesarias para bajar/subir el CL</p><p>
  &nbsp;</p><p class="pea">&nbsp;</p><h4>AUMENTAR EL NIVEL DE CLORO LIBRE (CL)</h4><p>&nbsp;
</p><p class="pbm txt-justificado">Si lo que tratas es subir el nivel de CL con cloro líquido, el CALCULADOR
  propone por
  defecto el uso de <b>lejía</b>
  en versi,onn doméstica, que no es sino una solución del compuesto de cloro <i>hipoclorito sódico</i> con una
  concentración baja de cloro activo, sobre el 5%.
  No obstante, en tiendas grandes de piscinas pueden adquirirse garrafas de hipoclorito sódico con una concentración
  mucho mayor, entre el 15% y el 20%.
  En cualquier caso, busque siempre, en la etiqueta del recipiente de cloro líquido que va a utilizar, el valor su
  concentración, e introdúzcalo en el
  correspondiente campo del CALCULADOR</p><p>&nbsp;</p><p class="pbm txt-justificado">El
  CALCULADOR le propone también un compuesto de cloro no estabilizado en formato
  granulado o en tabletas: <b>hipoclorito
    cálcico</b>. Pero este compuesto aumenta también la dureza cálcica del agua, por lo cual su utilización de forma
  continuada
  exige una cuidadosa vigilancia de la dureza cálcica para prevenir un valor tan alto que convierta el agua en
  incrustante
  (ISL demasiado alto)</p></p><p>&nbsp;</p><p class="pbm txt-justificado">También el
  mercado ofrece otros compuestos de cloro en formato sólido o granulado para
  uso en piscinas: <b>dicloro</b>
  (ácido dicloroisocianúrico) que se presenta en forma granulada de disolución rápida, y <b>tricloro</b> (ácido
  tricloroisocianúrico) genaralmente en formato tabletas de disolución lenta (solo tricloro
  o <i>multiefectos</i>).</p></p><p>&nbsp;</p><p
  class="pbm txt-justificado">El problema es que ambos tipos de compuestos de cloro llevan estabilizador incorporado
  (ácido cianurico, ACN). Por ello, la utilización de cualquiera
  de estos dos tipos de cloro supone una aportación continuada de ácido cianúrico, que se acumula y termina por hacer
  el cloro ineficaz. La única forma de rebajar un
  alto valor de ACN es vaciar total o parcialmente el agua de su piscina y rellenarla con agua de red.</p><p
  class="pea">&nbsp;</p><p class="pbm txt-justificado">El CALCULADOR calcula cuanto aumentará el contenido de
  ACN por cada cantidad de tricloro
  o dicloro que vaya a
  agregar a su piscina. Esta es una información preciosa que le ayudara a controlar el contenido de ACN de su piscina
  y pueda tomar medidas antes de
  de llegar a valores de ACN irremediables.</p><p>&nbsp;</p></p><p>&nbsp;</p><h4>
  REBAJAR EL NIVEL DE CLORO LIBRE (CL)</h4><p>&nbsp;</p><p class="pbm txt-justificado">Si no tiene
  demasiada prisa, la mejor forma de rebajar el contenido de cloro es esperar
  unos días sin añadir
  cloro. La radiación solar y el propio consumo en oxidación/desinfección se encargarán de rebajarlo sin añadir más
  productos químicos.</p><p>&nbsp;</p><p class="pbm txt-justificado">
  No obstante, si tiene prisas, ya sea porque la piscina es interior o está poco soleada, o bien después de una
  supercloración, dispone en el mercado
  de un amplio muestrario de productos químicos que añadidos al agua neutralizan el cloro con rapidez. El CALCULADOR
  le presenta cuanto producto hay que
  agregar al agua para rebajar el nivel de cloro al valor que Ud. desee. El CALCULADOR le presenta hasta 5 productos
  diferentes para elegir:</p><p class="pea">&nbsp;</p><p>&nbsp;</p><p class="pbm">
  <b>* </b><i>Tiosulfato de sodio.</i></p><p class="pea">&nbsp;</p><p
  class="pbm"><b>* </b><i>Bisulfito de sodio.</i></p><p class="pea">&nbsp;</p>
<p class="pbm"><b>* </b><i>Metabisulfito de sodio.</i></p><p class="pea">
  &nbsp;</p><p class="pbm"><b>* </b><i>Acidi ascorbico (vitamina C)</i></p>
<p class="pea">&nbsp;</p><p class="pbm"><b>* </b><i>Peróxido de hidrógeno (agua
    oxigenada)</i></p><p>&nbsp;</p><p class="pea">&nbsp;</p><p class="pbm">Elija el
  producto que mas la convenga</p></p><p class="pbm">Mas información sobre el tema en (próximamente)
</p>
