﻿<p class="pbs">
  <b>1.</b> No olvidar cumplimentar el campo
  <b class="color-Oliva">'Volumen agua'</b> en
  <b class="color-Oliva">'Mi Piscina'</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>2.</b> Introduce el valor medido o conocido del AT en el campo
  <b class="color-Oliva">'AT actual'</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>3.</b> Introduce el valor del AT que quieres conseguir en campo
  <b class="color-Oliva">'AT
    deseado'</b>.

<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>4.</b> O mueve el cursor del
  <i>selector deslizante</i> hasta el valor de AT deseada.

<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>5.</b> Justo debajo, en línea resaltada, se muestra la cantidad de
  <i>bicarbonato sódico</i>
  que hay añadir para elevar la AT al valor deseado
</p>
<p>&nbsp;</p>
<p class="pbm">Si has introducido un valor de 'AT deseado' menor que el 'AT actual', o sea trata de
  <b>bajar la AT</b>,
  comience añadiendo
  salfuman para bajar el pH. Oservará que tambien baja la AT.
</p>
<p class="pea">&nbsp;</p>
<p class="pbm">Añada safuman poco a poco, y mida cada vez pH y AT, cuando alcances el nuevo valor reducido de la AT, el
  proceso ha terminado.
  Pero si el pH baja a 7,0 antes que la AT se baje al valor deseado, sube entonces el pH hasta 7.2 por el método de

  <i>aireación</i>.
  De nuevo añade salfuman para reducir la AT, repite el proceso cuantas veces precisas para conseguir reducir la AT al
  valor deseado. Pincha aquí
  para más información (próximamente)
</p>
<p>&nbsp;</p>