﻿<p class="pbm txt-justificado">La velocidad de filtración (VF) es aquella por la que pasa el caudal de agua de la bomba
  por el filtro. Se trata de calcular un tamaño de filtro que "case" con la bomba, ni tan pequeño que el agua pase
  demasiado
  rápida (VF alta, mala calidad de filtración) ni tan grande que después haya problemas a la hora del lavado a
  contracorriente
  del filtro (caudal insuficiente por VF pequeña).</p>
<p>&nbsp;</p>
<p class="pbm"> El margen recomendado para la VF depende del lecho filtrante, y como regla general, es como sigue:</p>
<p>&nbsp;</p>
<p class="pbm">
  <b>* </b>
  <i>Filtros de arena:</i> 37-50 m&sup3;/hr/m&sup2; (15-20 GPM/FT2).
</p>
<p class="pbm">
  <b>* </b>
  <i>Filtros de zeolita:</i> 30-40 m&sup3;/hr/m&sup2; (15-20 GPM/FT2)
</p>
<p class="pbm">
  <b>* </b>
  <i>Filtros de diatomeas:</i> máximo 5 m&sup3;/hr/m&sup2;.
</p>
<p class="pbm">
  <b>* </b>
  <i>Filtros de cartucho:</i> máximo 2.5 m&sup3;/hr/m&sup2;.
</p>
<p>&nbsp;</p>
<p class="pbm">Una vez se selecciona la VF, el CACULADOR determina y muestra el diámetro del filtro tipo arena o
  zeolitas que
  satisface esa VF. En caso de filtro de diatomeas o cartucho, lo que calcula y muestra es el área del lecho
  filtrante, pues es ese
  el parámetro por el que se puede seleccionar en el mercado un filtro de uno y otro tipo.

<p>&nbsp;</p>
<h4>Calcular un filtro de ARENA o ZEOLITAS para su piscina</h4>
<p>&nbsp;</p>
<p class="pbs">
  <b>1a.</b> Calcule en primer lugar la bomba adecuada para el tamaño de su piscina en el panel
  <i>'Cálculo
    bomba' </i>. El caudal
  de la bomba elegida, campo
  <i>Caudal de bomba</i> se utiliza para calcular después el diámetro del filtro que "casa"
  con esa bomba.

</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>2a.</b> Una vez elegida la bomba, vaya al panel CALCULO del FILTRO, tipo
  <i>arena y zeolitas</i>
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>3a.</b> El CALCULADOR muestra por defecto el diámetro de filtro de arena correspondiente a una buena
  VF (40 m&sup3;/hr/m&sup2;), en el campo

  <i>'Diámetro filtro'</i> Ahora puede Ud. cambiar la VF a su gusto si desea un filtro mayor o menor para la bomba
  seleccionada.
  También puede calcular un filtro de zeolita adecuado para la bomba elegida, vaya al siguiente paso.

</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>4a.</b> Introduce el valor deseado de CF en el campo
  <i>'Ciclo filtración'</i> o mueve el cursor del

  <i>selector deslizante</i>
  situado debajo hasta el valor de CF deseado. Verifica que la nueva VF queda dentro del margen correcto para el tipo
  de filtro
  que está calculando,
  <i>arena</i> o
  <i>zeolitas</i>. El nuevo diámetro para esa nueva VF se muestra en el campo

  <i>'Diámetro filtro'</i>
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>5a.</b> Puede también introducir directamente el diámetro del filtro deseado en
  el campo
  <i>'Diámetro filtro'</i>, y entonces la VF que corresponde a ese nuevo diámetro se muestra el campo

  <i>'Velocidad filtración'</i>. Verifique de nuevo que la VF esta dentro del margen correcto para
  su filtro de
  <i>arena</i> o
  <i>zeolitas</i>
</p>
<p>&nbsp;</p>
<h4>Calcular un filtro de DIATOMEAS o CARTUCHO para su piscina</h4>
<p>&nbsp;</p>
<p class="pbs">
  <b>1a.</b> Calcule en primer lugar la bomba adecuada para el tamaño de su piscina en el panel
  <i>'Calculo
    bomba'</i>. El caudal
  de la bomba elegida, campo
  <i>Caudal de bomba</i> se utiliza para calcular después el area filtrante del filtro que
  casa con esa bomba.

</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>2a.</b> Una vez elegida la bomba, vaya al panel CALCULO del FILTRO, tipo
  <i>cartucho y diatomeas</i>
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>3a.</b> El CALCULADOR muestra por defecto el área de filtro de diatomeas correspondiente a una buena
  VF (4 m&sup3;/hr/m&sup2;), en el campo

  <i>'Area filtro'</i> se muestra el área necesaria. Ahora puede Ud. cambiar la VF a su gusto si desea un filtro de
  mayor o menor área para la bomba seleccionada.
  También puede calcular aquí un
  <i>filtro de cartucho</i> adecuado para esta bomba, vaya al siguiente paso.

</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>4a.</b> Introduce el valor deseado de CF en el campo
  <i>'Ciclo filtración'</i> o mueve el cursor del

  <i>selector deslizante</i>
  situado debajo hasta el valor de CF deseado. Verifica que la nueva VF queda dentro del margen correcto para el tipo
  de filtro
  que está calculando,
  <i>diatomeas</i> o
  <i>cartucho</i>. La nueva área de filtración para esa nueva VF se muestra en
  el campo
  <i>'Area filtro'</i>
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>5a.</b> Puede también introducir directamente el área del filtro deseado en
  el campo
  <i>'Area filtro'</i> y pulsar
  <i>Intro</i>. Entoces la VF que corresponde a ese nueva área se muestra en el
  campo

  <i>'Velocidad filtración'</i>. Verifique de nuevo que la VF esta dentro del margen correcto para
  su tipo de filtro,
  <i>diatomeas</i> o
  <i>cartucho</i>
</p>
<p>&nbsp;</p>