﻿<p class="pbs">
  <b>1.</b> Si ha medido o conoce el TDS, introducir su valor en el campo
  <b class="oliva">TDS conocido</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>2.</b> Si no, la calculadora lo estima por la edad del agua. Introduzca "0" en campo
  <b class="oliva">TDS conocido</b>
  y despues introduzca edad del agua en campo
  <b class="oliva">Antiguedad agua</b>
</p>
<p>&nbsp;</p>
<p class="pbm">El TDS afecta al ISL, pero solo en caso de
  <i>cloración salina</i> o
  <i>agua muy vieja</i> tiene que
  preocuparse y medir el TDS.
  Si no es su caso, ponga "0" en
  <i>TDS conocido</i> e introduzca sólo los años del agua en la piscina y no se
  preocupe.
</p>