<p class="pbm">Turnover time is the time (in hours) required by the pump to circulate through the filter a volume of
  water equal
  to the pool capacity. The more powerful the pump, the higher the flow that recirculates and therefore lower turnover
  time, but
  both pump and filter become bigger and much more expensive. A balanced approach to ensure clean, clear water is
  accomplished with turnover
  time between 2.5 and 6 hr, depending on the pool size.</p>
<p>&nbsp;</p>
<p class="pbm">Steps to calculate the pump flow to achieve the desired turnover time:
  </b></p><p>&nbsp;</p><p class="pbs">
  <b>1.</b> Do not forget to fill in the field
  <b class="oliva">'Pool size'</b> in
  <b class="oliva">'My
    Pool'</b></p><p class="pbs">
  <b>2.</b> Enter the desired turnover value in the field
  <b class="oliva">'Pool Turnover time'.</b></p><p class="pbs">
  <b>3.</b> Or move the
  <b class="oliva">slide selector</b> below the field to the desired turnover value.
  </p><p class="pbs">
  <b>4.</b> Press
  <b class="oliva">Enter</b> after you finish entering data. When using the
  <i>slider</i>,
  that is not required

<p>&nbsp;</p>
<p class="pbm">The pump flow to achieve the desired turnover time is shown in the field
  <i>'Pump flow'</i>
<p>&nbsp;</p>
<p class="pbm">You can also directly enter the
  <i>desired pump flow</i> in the field
  <i>'Pump flow"</i>, then press

  <i>Enter</i>
  and check that the turnover time value shown in the field
  <i>'Turnover time'</i> is within the correct range.
</p>
<p>&nbsp;</p>
