<p class="pbs">
  <b>1.</b> If you have measured or you know the
  <i>TDS value</i> of the water in your pool, enter the
  value in the field

  <b class="oliva">Current TDS</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>2.</b> If not, the calculator estimates TDS by of the age of water. Enter "0" in the field
  <b class="oliva">Current TDS</b> and
  then enter age of water in the field
  <b class="oliva">Water age</b>
</p>
<p>&nbsp;</p>
<p class="pbm">The TDS affects the ISL, but you only need to test for the water TDS if you have a
  <i>salt pool</i> or

  <i>the water
    is very old</i>. Otherwise, enter the approximate age of the water and don't worry.
</p>