﻿<p class="pbs"><b>1.</b> Do not forget to enter your pool <i>water volume</i> in the field <b>Pool Size</b></p>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs"><b>2.</b> Enter the measured or known pH value in the field <b class="oliva">Current pH.</b></p>
<p class="pea">&nbsp;</p>
<p class="pbs"><b>3.</b> If you use <b>muriatic acid</b> to lower your pool pH, first enter its concentration. Read
  below, in LOWERING pH how to do it</p>
<p class="pea">&nbsp;</p>
<p class="pbs"><b>4.</b> Enter the pH value that you want to get in field <b class="oliva">pH target</b> and then press
  <b>Enter</b>
<p class="pea">&nbsp;</p>
<p class="pbs"><b>5.</b> Or move the <b>slide selector</b> below the field to the desired pH value.</p>
<p class="pea">&nbsp;</p>
<p class="pbs"><b>6.</b> The CALCULATOR displays several chemical products and quantities needed to achieve the new pH
</p>
<p>&nbsp;</p>
<h4>LOWERING pH</h4>
<p class="pea">&nbsp;</p>

<p class="pbm">If you try to lower your pool water pH using <i>muriatic acid</i>, please, do first select the
  concentration of your acid in the field <b class="oliva">muriatic acid</b>.
  The <i>muriatic acid</i> is diluted hydrochloric acid , its concentration is expressed in %, the calculator default
  value is 20%, very commonly found in the market. But
  you must enter the one wich you're using, you'll find it on the package label. Sometimes the concentration is
  expressed in degrees Baume (<i>ºBaumé o ºBe</i>), each ºBe is equal to 1.54%.
  Check options <b class="oliva">Muriatic acid concentration</b> to be in accordance with the one indicated in the
  package label.
<p>&nbsp;</p>
<p class="pbm">
  For people who prefer using a solid product to lower the pH, the CALCULATOR displays the required doses of <b
    class="oliva">sodium bisulfate</b>, commonly used for this purpose
</p>
<p>&nbsp;</p>
<h4>RAISING pH</h4>
<p class="pea">&nbsp;</p>
<p class="pbm">If you try to reduce your pool water pH, the calculator will show the amount of pH increaser you have to
  add.
  We have selected <b class="oliva">dray acid</b> (sodium carbonate), widely used for this purpose.</p>
<p>&nbsp;</p>
<h4>IMPORTANT NOTE</h4>
<p class="pea">&nbsp;</p>
<p class="pbm">The amounts of chemical products displayed by this calculator to lower and rise the pH are purely
  indicative, since several factors that strongly affect the ph of the water are not taken into account, such as
  alkalinity, cyanuric
  acid, and some other parameters. The deviation can be even bigger when the difference between the current pH and the
  target pH becomes higher, and
  get bigger as we move away from values close to 7 (above and below). Therefore they shall be used as a starting
  point. We suggest to
  add the ph-Plus or pH-Minus gradually and test for the pH after each time, until we get the desired value. For more
  detail, click on this
  link (coming soon).</p>
<p>&nbsp;</p>