﻿<p class="pbs">
  <b>1.</b> Do not forget to enter your pool
  <i>water volume</i> in the field
  <b>Pool Size</b>
</p></p><p class="pea">&nbsp;</p><p class="pbs">
  <b>2.</b> Enter the measured or known TA value in the field
  <b class="oliva">Current TA.</b></p><p class="pea">&nbsp;</p><p class="pbs">
  <b>3.</b> Enter the new TA value that you want to get in field
  <b class="oliva">TA target</b> and then
  press
  <b>Enter</b>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>4.</b> Or move the
  <b>slide selector</b> below the field to the desired TA value.
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>5.</b> The CALCULATOR shows how much
  <i>baking soda</i> (Sodium Bicarbonate) you have to add to
  achieve the new higher TA level

<p>&nbsp;</p>
<p class="pbm txt-justificado">If you entered a new TA lower than the current TA, you try to
  <b>Lower TA</b>.
  Add
  <i>muriatic acid</i> to lower pH. Muriatic acid also lowers the TA. Add the muriatic acid gradually, testing pH
  and TA each time.
  When you reach the 'TA target' value, the process is over. But if you bring pH down to 7.0 before the TA bring
  down to the 'TA target' value, stop adding acid and
  <i>aerate</i> the water to raise pH to 7.2. Then begin again
  adding acid and repeat the process
  until 'TA target' value is first achieved. Click
  <a href="#">here</a> for more information (caming soon)
</p>
<p>&nbsp;</p>
