﻿<p class="pbs">
  <b>1.</b> Do not forget to enter your pool
  <b>water volume</b> in the field
  <b>'Pool Size'</b>
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>2.</b> Test your poor
  <b>free chlorine (FC)</b> level and enter value in the field
  <b>Current FC</b>
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>3.</b> If you use
  <b>bleach as sanitizer</b>, first select bleach concentration (see how below)
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>4.</b> Enter the FC that you want to get in field
  <b>'FC target'</b>
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>5.</b> Or move the
  <b>slide selector</b> below the field to the desired FC value.
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>6.</b> Push
  <b>Enter</b> after you finish entering data. When using slider, that is not required
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>7.</b> Find below several chemical products and doses needed to achieve the new FC level
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>INCREASING FREE CHLORINE LEVEL</h4>
<p>&nbsp;</p>
<p class="pbm">If you try to increase your pool FC level using
  <i>chlorine-based bleach</i>, please, select first the
  concentration of your bleach in the drop-down field after 'solution'.
  The
  <i>chlorine-based bleach</i> is dilute sodium hypochlorite , its concentration is expressed in % of active
  chlorine content. The calculator default value is the current 5% of household bleach. But a higher
  concentrated bleach (tipically 15% to 20% solution) is available for pool sanitation. Check your bleach container
  label for graduation and select it in the drop-down field
</p>
<p>&nbsp;</p>
<p class="pbm"> If you prefer dry non-stabilized chlorine, calcium hypochlorite (cal-hypo) is available in both granular
  and tablet forms. But cal-hypo rises also the water calcium hardness, so
  you would to check carefully it to prevent from scale-forming water because LSI becomes too high.</p>
<p>&nbsp;</p>
<p class="pbm">
<p class="pbm">Dry stabilized chlorine are now commonly available for pool sanitation: trichlor (trichloroisocyanuric
  acid) in
  slow dissolving tablet form, and dichlor (trichloroisocyanuric acid) in fast-dissolving granular chlorine. Both type
  of chlorine put cyanuric acid (CYA) into the water and should not be used extensively to prevent the CYA level from
  becoming too
  high, making the chlorine ineffective. CYA can be removed draining part of your pool and adding water from the mains
  supply.</p>
<p>&nbsp;</p>
<p class="pbm">The CALCULATOR calculates and display the Cyanuric acid increments when try to you add any quantity of
  trichlor or dichlor.
  This information will help you to control your pool CYA content.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>LOWERING FREE CHLORINE LEVEL</h4>
<p>&nbsp;</p>
<p class="pbm">The first option to reduce the pool chlorine content is letting the pool stay with no chlorine adds and
  the chlorine will dissipate of its own accord in a few days
  The sun dries up and burns the chlorine in the water, so the levels of chlorine will automatically lower.


<p class="pbm">If you are in a hurry, for example after a chlorine shock or in indoor pools, you can force FC to lower
  adding a chlorine neutralizer. When you enter the calculator
  a target FC less than current chlorine, the CALCULATOR display how much chlorine neutralizer needs you to achieve
  the new lower chlorine level. Five optional neutralizers are proposed</p>
<p>&nbsp;</p>
<p class="pbm">
  <b>* </b>
  <i>Sodium thiosulfate.</i>
</p>
<p>&nbsp;</p>
<p class="pbm">
  <b>* </b>
  <i>Sodium bisulfite.</i>
</p>
<p>&nbsp;</p>
<p class="pbm">
  <b>* </b>
  <i>Sodium metabisulfite.</i>
</p>
<p>&nbsp;</p>
<p class="pbm">
  <b>* </b>
  <i>Ascorbic acid.</i>
</p>
<p>&nbsp;</p>
<p class="pbm">
  <b>* </b>
  <i>Hydrogen peroxide.</i>
</p>
</p>
<p>&nbsp;</p>
<p class="pbm">Now you may choice the neutralizer compound at you convenience</p>
<p>&nbsp;</p>
<p class="pbm">Read more at (coming soon)</p>