<p class="pbs">
  <b>1.</b> Do not forget to enter the pool
  <i>water volume</i> in the field
  <b>Pool Size</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>2.</b> Test the water for
  <i>calcium hardness (CH)</i> and enter it in the field
  <b class="oliva">Current CH</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>3.</b> Enter the CH level that you want to get in the field
  <b class="oliva">CH target</b> and press

  <b>Enter</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>4.</b> Or move the
  <b>slide selector</b> below the field to the desired CH value.
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>5.</b> The CALCULATOR shows how much
  <i>calcium chloride</i> you have to add to achieve the new higher
  CH level,
  or the volume of water you need to replace in order to achieve the new lower CH level
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>PLEASE NOTE:</b>
<p>&nbsp;</p>
<p class="pbm">Check carefully the form of calcium chloride in the package label. The most common is the
  <i>anhydrous
    form</i> and has a molar mass
  of 111 gr/mol, but we often come across the
  <i>dehydrated form</i>, with a molar mass of 147 gr/mol. That means you
  will spend 32% more in
  weight of the dehydrated form than when using of the anhydrous form to rise the same ppm of CH
</p>
<p>&nbsp;</p>
<p class="pbm">If you have entered a value of the
  <i>target calcium hardness</i> less than
  the
  <i>current calcium hardness</i>, that means you like to reduce your pool CH level. Be aware that the calculator
  only provides
  the reduction of calcium hardness by draining the vessel (totally or partially) and refilling it with lower-hardness
  water.

<p class="pea">&nbsp;</p>
<p class="pbm">Enter the
  <i>calcium hardness</i> of the
  <i>fresh water</i> available water for refilling. The field

  <b>Replace</b> displays the amount of water you have to drain and refill
</p>
<p>&nbsp;</p>