﻿<p class="pbs">
  <b>1.</b> Do not forget to enter your pool
  <i>water volume</i> in the field
  <b>Pool Size</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>2.</b> Test your poor bromine (BR) level and enter value in the field
  <b>Current BR</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>3.</b> If you use bleach to activate the bromide bank, select bleach concentration
</p>
<p class="pbs">&nbsp;&nbsp;&nbsp;&nbsp;(see how in Chlorine Help)</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>4.</b> Enter the bromine level that you want to get in field
  <b>BR target</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>5.</b> Or move the
  <i>slide selector</i> below the field to the desired BR value.
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>6.</b> Push
  <b>Enter</b> after you finish entering data. When using
  <i>slider</i>, that is not
  required
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>7.</b> Find below, in highlighted lines, several chemical products and doses needed to
</p>
<p class="pbs">&nbsp;&nbsp;&nbsp;&nbsp;achieve the new BR level</p>
<p class="pea1">&nbsp;</p>
<p class="pbs">
  <b>PLEASE NOTE:</b> Once a indoor pool is treated with any kind of bromine, or a outdoor pool is treated
  with
  bromine tabs, it is always a Bromine pool until it is drained.

<p class="pea1">&nbsp;</p>
<h4>INCREASING BROMINE LEVEL</h4>
<p class="pea">&nbsp;</p>
<p class="pbm">There are basically 2 ways to provide the pool with bromine sanitizer:
  in the 1-step system, the bromine is put directly into water as an ingredient in the bromine tablets.
  In the 2-step system, the active bromine is generated in the pool itself, by oxidation of ions of a previously
  established
  bromide ion reserve (bromide bank). The first thing is to create the bromide bank by adding enough bromide salt into
  the water.
  From then, the oxidizer agent (usually, chlorine or MPS or ozone) needs to be added on a regular basis to oxidize
  the bromide ions
  into active bromine.
  </b>
</p>
<p class="pea1">&nbsp;</p>
<p>
  <b style="font-size:15px">The 2-step bromine systems</b> (bromine generation in the pool)
</p>
<p class="pea1">&nbsp;</p>
<p class="pbm">The first step is to add bromine salt to water to set up an initial bromide reserve of
  not less than 30 ppm. You need to add 1.25 gr of bromine salt per each m&sup3; of your pool to increase 1 ppm the
  bromide bank. That means
  1,25*30*50 = 2 kg of salt bromine to for a pool of 50 cubic meters.</p>
<p>&nbsp;</p>
<p class="pbm">You can also create the bromide-bank by starting pool sanitation with bromine tablets.
  But, depending on several factors, it may take days or weeks until the bromine bank is properly established. </p>
<p>&nbsp;</p>
<p class="pbm">In the second step, oxidizer is supplied in a daily basis, to generate enough bromine to
  keep up a bromine level within 2 and 4 ppm (3 to 6 for spas). Therefore, the generated bromine is already
  distributed in the mass of water, and the bromine
  level increases immediately.</p>
<p>&nbsp;</p>
<p class="pbm">The CALCULATOR displays the amount of product needed for increasing the bromine level using
  2 different oxidants at your choice: </p>
<p class="pea1">&nbsp;</p>
<p class="pbm">
  <b>* </b>
  <i>Liquid chlorine (bleach
    , sodium hypochorite)</i>
</p>
<p class="pea">&nbsp;</p>
<p class="pbm">
  <b>* </b>
  <i>Dry, unstabilized chlorine (calcium hypochlorite)</i>
</p>
<p class="pea">&nbsp;</p>
<!-- <p class="pbm"><b>* </b><i>MPS (potassium monopersulfate), a kind of active oxygen</i></p>-->
<p class="pea1">&nbsp;</p>
<p class="pbm">Chlorine-based bleach is particularly suitable for its automatic dosing to the pool
  thanks to its liquid format. Just a simple dosing pump governed by a ORP controller. The automatic dosing of sodium
  hypochlorite or MPS is more complex due to its fast dissolving formats. If calcium hypochlorite is used as oxidizing
  agent,
  it must be taken the same precautions to prevent a excesive elevation of calcium hardness like it happens in
  chlorine-sanitized pools</p>
<p class="pea1">&nbsp;</p>
<p>
  <b style="font-size:15px">The 2-step bromine systems</b> (by direct addition of active bromine)
</p>
<p class="pea1">&nbsp;</p>
<p class="pbm">The bromine is provided by erosion of tabs of bromochloro or dibromo placed in a dispenser
  (brominator) or the skimmer. The CALCULATOR displays the amount in weight of both compounds required to rise the
  bromine level
  up to the desired value. But attention, both types are
  <i>very slow dissolution tablets</i>, depending on size of
  the dispenser
  it can take days or weeks until enough dissolved bromine is put into the pool.
</p>
<p>&nbsp;</p>
<p class="pbm">In practice, you need to test for bromine every 2/3 days and adjust your brominator to keep bromine level
  within the
  proper range (2-4 ppm in pools, 3-6 ppm in spas) until it has settled down.</p>
<p>&nbsp;</p>
<p class="pbm">But the most convenient and effective way it to use a ORP controller with a set-point set within
  the range of 700 to 750 mV. The controller continuously continuously the water ORP and acts on a final control
  element (may be a 3-ways motor or
  solenoid operated valve) to adjust the time the water pass through the brominator to keep up the water ORP close to
  the set point.</p>
<p>&nbsp;</p>
<p class="pbm">BCDMH is a compound of chlorine and bromine. When initiating the water treatment with this compound,
  the two sanitizers, chlorine and bromine, coexist in the water, summing their sanitizing capabilities.
  Sooner or later, a sufficient reserve of bromide is generated and from then, all the chlorine is reduced to bromine
  All the sanitizer is already just bromine.

<p>&nbsp;</p>
<p class="pbm">In a few weeks we will have a bromide bank like to that we could have created by direct addition of
  bromine salt.
  That means after a while we can switch over to the 2-steps bromine system. Simply remove or reduce the number of
  bromine tablets
  in the skimmer or brominator and start dosing with oxidant (chlorine, MPS or ozone). Of course it is perfectly
  possible to continue
  with a mixed load sharing between bromine directly provided by the tablets and bromine generated by adding chlorine,
  ozone or MPS.</p>
<p class="pea1">&nbsp;</p>
<h4>LOWERING THE BROMINE LEVEL</h4>
<p class="pea">&nbsp;</p>
<p class="pbm">The first option to reduce the pool o spa bromine content is letting the pool stay with no bromine adds.
  The bromine will dissipate of its own accord in a few days. The sun dries up and burns the bromine in the water, so
  the level
  of bromine will automatically lower.

<p>&nbsp;</p>
<p class="pbm">If you are in a hurry, such as after a bromine shock or in indoor pools, you can force bromine
  to lower adding a bromine neutralizer. When you enter in the CALCULATOR a Target BR less than Current BR,
  the calculator display how much sodium tyosulphate needs you to meet the new lower bromine level.</p>
<p>&nbsp;</p>
<p class="pbm">The sodium thiosulphate lowers the active bromine level, but do not affects the bromide bank.
  Even if you add enough sodium thiosulphate to cut to 0 ppm the bromine content, your pool / spa continue to be
  bromine sanitized
  until the bromide level gets below a few ppm.</p>
<p class="pea1">&nbsp;</p>