<p class="pbs">
  <b>1.</b> If you use dichloro, trichloro or chlorine stabilizer, test water for
  <i>Cyanuric Acid</i>
  (CYA) and enter its value in the field

  <b class="oliva">Cyanuric acid (CYA)</b>
</p>
<p class="pea">&nbsp;</p>
<p class="pbs">
  <b>2.</b> Otherwise, enter
  <b>'0'</b> in this field
</p>
<p>&nbsp;</p>
<p class="pbm">CYA is present in your pool when you use stabilized chlorine (trichloro, dichloro) or you add
  CYA (stabilizer) to reduce photodecomposition of non-stabilized chlorine types.

<p>&nbsp;</p>
<p class="pbm">CYA contribute to
  <i>Total Alkalinity</i> (TA), but does not contribute to the water balance
  indicated by
  <i>Langelier Saturation Index</i> (LSI). The calculator correct the CYA effect on the TA to get the

  <i>Carbonate Alkalinity</i> (CA)
  used to calculate the LSI. Click
  <b class="oliva">Show Carbonate Alkalinity</b> in the TA area to display the CA
  value in any condition

<p>&nbsp;</p>