<p class="pbm">The filter must be sized to match the pump.
  <i>Filter flow rate</i> is the velocity that water moves
  through the filter and depend on
  <i>filter area</i>.
  The slower the flow rate, the better the quality of filtration. If the filter is undersized (area too low=flow rate
  too high) filtration
  quality is poor and it becomes clogged very soon. But if the filter is oversized (area too high=flow rate too low)
  the pump flow available
  is not sufficient for a good filter back-washing.
</p>
<p>&nbsp;</p>
<p class="pbm">The general rule of thumb for filter rate margin is:</p>
<p>&nbsp;</p>
<p class="pbm">
  <b>* </b>
  <i>Sand filter:</i> 37-50 m&sup3;/hr/m&sup2; (15-20 GPM/FT2).
</p>
<p class="pbm">
  <b>* </b>
  <i>Zeolite filter:</i> 30-40 m&sup3;/hr/m&sup2; (15-20 GPM/FT2)
</p>
<p class="pbm">
  <b>* </b>
  <i>Diatomite filter (DE):</i> maximum 5 m&sup3;/hr/m&sup2;.
</p>
<p class="pbm">
  <b>* </b>
  <i>Cartridge filter:</i> maximum 2.5 m&sup3;/hr/m&sup2;.
</p>
<p>&nbsp;</p>
<p class="pbm">Once we select the flow rate, the filter diameter is calculated and displayed for
  sand and zeolite filter. For cartridge and DE, the filter area is calculated and shown since that is the applicable
  criteria of selection for these types of filters.

<p>&nbsp;</p>
<h4>How to select the correct SAND or ZEOLITE filter for your pool</h4>
<p>&nbsp;</p>
<p class="pbs">
  <b>1a.</b> First select the right pump in panel
  <i>'Pump selection'</i>. The
  <i>pump flow</i> is then
  used as
  input for the filter calculations.
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>2a.</b> Then go below to the panel FILTER SIZING,
  <i>sand</i> and
  <i>zeolite</i> type.
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>3a.</b> The CALCULATOR assumes by default a sand filter based on a filter flow rate of 40
  m&sup3;/hr/m&sup2; and shows its
  size in the field
  <i>'Filter diameter'</i>. If you prefer a bigger or smaller

  <i>sand</i> filter, or your filter is a
  <i>zeolite</i> filter, go to next step 4a.
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>4a.</b> Enter in the field
  <i>'Filter flow rate'</i> the desired value and press the
  <i>Enter</i> key,
  or move the
  <i>Filter flow rate</i> slider selector
  to the desired value within the slider scale. Please, check that selected
  <i>'Filter flow rate'</i> is within the
  proper range depending on
  filter type,
  <i>sand</i> or
  <i>zeolite</i> type. The filter size is then shown in the field
  <i>'Filter
    Diameter'.</i>
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>5a.</b> You can also directly enter the desired filter diameter in the field
  <i>'Diameter filter'</i>,
  press the
  <i>Enter</i> key and you read in the field
  <i>'Filter flow rate'</i> the
  <i>flow
    rate</i> to the new filter size entered. Be careful that the
  <i>filter flow rate</i> is within the right range
  for your sand or zeolite filter type
</p>
<p>&nbsp;</p>
<h4>How to select the correct DE or CARTRIDGE filter for your pool</h4>
<p>&nbsp;</p>
<p class="pbs">
  <b>1b.</b> First select the right pump in panel
  <i>'Pump selection'</i>. The
  <i>pump flow</i> is then
  used as an input for the filter calculations.
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>2b.</b> Then go below to the panel FILTER SIZING,
  <i>diatomite</i> and
  <i>cartridge</i> type.
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>3b.</b> The CALCULATOR assumes by default a Diatomite filter based on a filter flow rate of 4
  m&sup3;/hr/m&sup2; and shows its
  size in the field
  <i>'Filter area'</i>, 0,62 m&sup2;. If you prefer a bigger or smaller
  DE filter, or your filter is
  <i>cartridge type</i>, go to next step 4b.
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>4b.</b> Enter in the field
  <i>'Filter flow rate'</i> the desired value and press the
  <i>Enter</i> key,
  or move the
  <i>Filter flow rate</i> slider selector
  to the desired value within the slider scale. Please, check that selected
  <i>'Filter flow rate'</i> is within the
  proper range depending on
  filter type, DE or
  <i>cartridge type</i>. The filter size is then shown in the field
  <i>'Filter area'.</i>
</p>
<p>&nbsp;</p>
<p class="pbs">
  <b>5b.</b> You can also directly enter the desired
  <i>filter area</i> in the field
  <i>'Filter area'</i>,
  press the
  <i>Enter</i> key and you read in field
  <i>'Filter flow rate'</i> the flow
  rate for the new filter area entered. Be careful that the filter flow rate is within the right range for your DE or

  <i>cartridge type</i>
</p>
<p>&nbsp;</p>